/* ----- RESET ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  ----- HEADER ----- */



/* ----- NAVIGAZIONE ----- */

.container {
    max-width: 960px;
    margin: 0 auto;
    border: 1px dashed #000;
}

.section {
    padding: 1rem;
}

.section-1 {
    background-color: #ADD8E6;
}

.navigazione {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DAA53B;
}

.logo {
    width: 20%;
}

.nav-link {
    display: flex;
    list-style: none;
    padding: 10px;
}

.link {
    padding: 5px;
}

.login {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.section-2 {
    background-color: #0A238B;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    min-height: 200px;
    min-width: 80%;
    background-color: #EE82EE;
}

/* ----- MAIN ----- */

.section-3 {
    min-height: 200px;
}

.main-container {
    display: flex;
    justify-content: center;
}

.img {
    min-width: 60%;
    min-height: 180px;
    background-color: #2A8FF7;
}

.text {
    min-width: 40%;
    min-height: 180px;
    background-color: #F6BFCA;
}

.section-4, .section-6 {
    background-color: #D3D3D3;
}

.reverse {
    flex-direction: row-reverse;
}

.big-square {
    min-height: 600px;
    min-width: 600px;
    background-color: #3F8B24;
}

/* ----- FOOTER ----- */

.footer-section {
    background-color: #23272A;
}

.footer-container-1 {
    display: flex;
    flex-direction: row;
    min-height: 50px;
    border: 1px dashed #fff;
}

.footer-square-1,
.footer-square-2,
.footer-square-3,
.footer-square-4,
.footer-square-5 {
    min-width: calc((100% - 30%) / 4);
    min-height: 250px;
    border: 1px dashed #000;
   }

.footer-square-1 {
    background-color: #F08080;
    min-width: 30%;
}

.footer-square-2,
.footer-square-3,
.footer-square-4,
.footer-square-5 {
    background-color: #4DB3AB;
    
}

.footer-container-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7CF8D3;
    padding: 5px 0;
}

.footer-logo, .button {
    background-color: #F5B6C1;
    border: 1px dashed #000;


}